# Optional local recovery of exact bounding boxes for legacy face embeddings.
# InsightFace's published pretrained model packs have separate, non-commercial
# research terms; LensLedger does not bundle or redistribute a model.
insightface>=1.0.1,<2
onnxruntime>=1.24,<2
